.dark{
  background-color: #373b53;
  color: #fff;
}

.light{
  background-color: snow;
  color:#151515;
}

h1, h2, h3, h4, h5, h6, p, span{
  margin:0;
  padding:0;
}

/*

.main-area-mobile{
  border:1px solid red;
  margin:20px auto;
  width:100%;
  height: auto;
  padding:0;
}

.main-area-tablet{
  margin:40px 10px 0 10px;
  width:calc(100% - 140px);
}

.main-area-web{
  max-width:800px;
  margin:40px auto;
}

.main-area-mobile-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height:auto;
  padding:0 20px;
  border:1px solid blue;
}


/*
.main-area-mobile-header .text h2{
  font-size:20px;
  margin-bottom:4px;
}

.main-area-mobile-header .text p{
  font-size:14px;
}

.main-area-mobile-header .buttons{
  display:flex;
  align-items: center;
}

.main-area-mobile-header .buttons-filter button{
  border:1px solid #bcdbbc;
  outline:none;
  margin-right:4px;
  padding:6px 8px;
  border-radius: 8px;
  font-weight: 600;
  background-color:floralwhite;
  display:flex;
  align-items:center;
}

.main-area-mobile-header .buttons-filter button i{
  margin-left:4px;
}

.main-area-mobile-header .buttons-new button i{
  margin-right:2px;
  font-size:24px;
}


.main-area-mobile-header .buttons-new button{
  border:none;
  outline: none;
  padding: 4px 8px 4px 2px;
  border-radius: 20px;
  background-color:indigo;
  color:#fff;
  font-weight:600;
  display: flex;
  align-items: center;
}

@media only screen and (min-width:300px) and (max-width:600px){
  .main-area-mobile-header .buttons-new button span.button-text-1{
    display:flex;
  }
  
  .main-area-mobile-header .buttons-new button span.button-text-2{
    display:none !important;
  }
  
}

@media only screen and (min-width:601px) and (max-width:1921px){
  .main-area-mobile-header .buttons-new button span.button-text-1{
    display:flex;
    margin-right:4px;
  }
  
  .main-area-mobile-header .buttons-new button span.button-text-2{
    display:flex !important;
  }
}
*/