.dark{
  background-color: #373b53;
  color: #fff;
}

.light{
  background-color: snow;
  color:#373b53;
}

/*
header button{
  width:36px;
  height:36px;
  border-radius:20%;
  display:flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border:none;
  outline:none;
  color:white;
}
.header-button-light{
  width:36px;
  height:36px;
  background: orange;
  color:#373b53;
}

.header-button-dark{
  width:36px;
  height:36px;
  background: #373b53;
  color:#fff;
}

.logo-area{
  display:flex;
  align-items: center;
  justify-content: center;
  border:1px solid red;
}

.right-area{
  width:10%;
  border:1px solid green;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-photo{
  border:1px solid red;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content: center;
}

.user-photo  img{
  width:44px;
  height:44px;
  border-radius:50%;
  background-position: center;
}

*/