header{
  display:flex;
}

header h1 .light{
  color:#373b53;
}


.mobile-header{
  width: 100%;
  height:80px;
  padding:0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 0 8px rgba(119, 136, 153, 0.4);
}

.mobile-header-logo{
  display: flex;
  align-items:center;
}

.mobile-header-logo img{
  width:30px;
  height:30px;
}
.mobile-header-logo h1{
  font-size:28px;
}

.mobile-header-right-area{
  display:flex;
  align-items: center;
}

.mobile-header-button{
  width: 28px;
  height:28px;
  margin-right: 8px;
}

.tablet-sidebar-button{
  width:36px;
  height:36px;
  margin-bottom:12px;
}
.mobile-header-button,
.tablet-sidebar-button{
  border:none;
  outline:none;
  border-radius: 50%;
  display:flex;
  align-items:center;
  justify-content: center;
}

.mobile-header-button-light, 
.tablet-sidebar-button-light{
  background-color: orange;
  color:#373b53;
}

.mobile-header-button-dark, 
.tablet-sidebar-button-dark{
  background-color: #373b53;
  color:#fff;
}


.mobile-user-photo img{
  width:32px;
  height:32px;
  border-radius:50%;
}

.tablet-user-photo img{
  width:36px;
  height:36px;
  border-radius:50%;
}

@media only screen and (min-width:300px) and (max-width:600px){
  .mobile-header{
    display:flex;
  }
  .tablet-sidebar{
    display: none !important;
  }
}

@media only screen and (min-width:601px) and (max-width:1921px){
  .mobile-header{
    display:none;
  }
  .tablet-sidebar{
    display:flex;
  }
}

.tablet-sidebar{
  width:80px;
  height:100vh;
  border-left:1px solid rgba(119, 136, 153, 0.25);
  box-shadow: 2px 0px 8px rgba(119, 136, 153, 0.3);
  padding:20px 0;
  position:absolute;
  right:40px;
  top:0px;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:space-between;
}

.tablet-sidebar-logo{
  display:flex;
  flex-direction: column;
  align-items:center;
}

.tablet-sidebar-logo h1{
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size:28px;
  letter-spacing: -4px;
  text-transform: uppercase;
  margin-top:10px;
}